.career-img { min-height: 480px; margin-bottom: 60px; background-position: 50% top; background-image: url(../img/Careers.jpg); width: 100%; background-size: cover;position: relative; }
.career-content {padding: 22px 26px;margin: 20px;border: 1px solid #e8e8e8;font-weight: 100;color: #2f2f2f;font-style: normal;font-size: 19px;}
.career-title {text-align: center;margin: 70px 0;}

.table-wrapper {margin: 20px auto 40px auto;width: 700px;padding: 40px;overflow: hidden;border: 1px solid #e8e8e8;box-shadow: 3px 3px 3px #b5b0b0;}
.table-wrapper:after {content: ' ';clear: both;}
.table-data {float: left;padding: 20px;}
.table-header, .table-body, .table-row {width: 100%;overflow: hidden;}
.table-row :nth-child(1) {width: 25%;}
.table-body .table-row :nth-child(2) {width: 55%;}
.table-body .table-row :nth-child(3) {width: 20%;}
.table-body .table-row {border-top: 1px solid #e8e8e8;}
.table-header .table-data {font-size: 19px;}
.table-body .table-data {font-size: 17px;}

.table-data a {color: black;transition: color;transition-duration: 0.5s;}
.table-data a:hover {color: #0ab6d1;}