.home-banner { overflow: hidden; position: relative; height: calc( 100vh - 100px ); }
.home-banner video { }
.home-banner-text { position: absolute; top: 25%; left: 0; text-align: center; width: 100%; }
.home-banner-text img {max-width: 350px;max-height: 200px;width: auto;}

.welcome-text { color: #fff; }
h2.welcome-text { font-weight: 600; }

.down-arrow { position: absolute; bottom: 0; left: 0; color: white; width: 100%; text-align: center; }

.down-arrow i { -webkit-animation-name: bounceInSmall; -moz-animation-name: bounceInSmall; -ms-animation-name: bounceInSmall; -o-animation-name: bounceInSmall; animation-name: bounceInSmall; -webkit-animation-duration: 3s; -moz-animation-duration: 3s; -ms-animation-duration: 3s; -o-animation-duration: 3s; animation-duration: 3s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; -webkit-animation-timing-function: ease; -moz-animation-timing-function: ease; -ms-animation-timing-function: ease; -o-animation-timing-function: ease; animation-timing-function: ease; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-animation-iteration-count: infinite; }
.down-arrow i:hover { color: white; }

.home-about-us { text-align: center; padding: 90px 5% 70px 5%; }
.home-about-us h1 { font-weight: 600; font-size: 3.8em; line-height: 1em; }
.home-about-us p { font-family: "Segoe UI"; font-size: 18px; }
.simple-line { width: 70px; height: 6px; background-color: #0ab6d1; margin: 0 auto 20px auto; }
.home-about-us-info { overflow: hidden; margin-top: 40px; text-align: left; }

.home-client-showcase { text-align: center; padding: 90px 5% 70px 5%; background-image: url(../img/young-guys.jpg); background-attachment: fixed; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: center; }
.home-client-showcase h2 { font-size: 2.8em; font-weight: 600; color: #fff; }
.home-clients-list-wrapper { padding: 90px 0 70px 0; }
.home-clients-list { display: flex; margin: auto; justify-content: space-evenly; flex-flow: wrap; }
.home-client-showcase img { padding: 5px; flex-grow: 1; max-width: 154px; max-height: 80px; }