#sidebar { height: 100%; width: 260px; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding: 40px 20px; text-align: center; vertical-align: baseline; display: block; }
/* .sidenav { height: 100%; width: 20%; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding: 40px 20px; text-align: center; vertical-align: baseline; } */
.social-icons { bottom: 0px; position: absolute; padding: 0px 40px 20px 40px; font-size: 0.85em; width: 100%; left: 0px; }
.social-icons a { font-size: 18px; margin-left: 5px; }

.sidenav a, .sidenav div { padding: 0 6px; display: block; transition: all 0.3s; line-height: 44px; font-weight: 600; font-size: 20px; text-decoration: none; color: #FFFFFF; cursor: pointer; }
.sidenav a:hover, .sidenav a:active, .sidenav div:hover, .sidenav div:active { color: #0ab6d1; }
.sidenav div[data-parent="services"] { display: none; padding-bottom: 10px; }
.sidenav div[data-parent="services"] a { font-size: 16px; line-height: 30px; }

.sidenav .sidebar-logo-a { padding: 0; margin-bottom: 40px; }
.sidebar-logo { width: 100%; height: auto; display: block; }

@media screen and (max-height: 450px) {
	.sidenav { padding: 40px 15px; }
	.sidenav a { font-size: 18px; }
}

@media screen and (max-width: 869px) {
	#sidebar { display: none; }
	#header-nav { display: block !important; }
	.page-wrapper { padding: 60px 0 10px; }
	.lds-hourglass { width: 100%; }
}