#sidebar {height: 100px;background-color: #111;padding: 0 100px;}

ul {padding: 0;margin: 0;height: 100%;position: relative;}
.sidenav {float: right;}
.sidenav > li {float: left;}
.sidenav li {transition: all 0.3s;width: 70px;height: 100%;list-style: none;}
.sidenav li:hover, .sidenav li:active { color: #0ab6d1; }
.sidenav ul {padding-bottom: 10px;visibility: hidden;opacity: 0;transition: visibility 0s, opacity 0.5s linear;}
.sidenav ul li {padding-top: 10px;height: 60px;}
.sidenav li:hover ul {top: 100%;z-index: 2;visibility: visible;opacity: 1;}
.sidenav li:hover ul img {display: block;position: relative;z-index: 2;}

.sidenav .sidebar-logo-a {padding: 0;}
.sidebar-logo {width: auto;height: auto;max-width: 200px;max-height: 100px;}
.sidenav img {width: 50px;display: block;position: absolute;top: 50%;transform: translateY(-50%);}
.sidenav img:hover {filter: contrast(50%);}

@media screen and (max-height: 450px) {
	.sidenav a { font-size: 18px; }
}

@media screen and (max-width: 869px) {
	#sidebar { display: none; }
	#header-nav { display: block !important; }
	.page-wrapper { padding: 60px 0 10px; }
	.lds-hourglass { width: 100%; }
}